@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.lists {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@layer utilities {
  .beforeAfterBorder {
    @apply relative z-[1]; /* Ensure the parent element is positioned */
  }
  .beforeAfterBorder_y::before {
    content: '';
    @apply absolute w-[.5px] h-[24px] -left-0 top-4 bg-yellow-300;
  }

  .beforeAfterBorder_y::after {
    content: '';
    @apply absolute w-[.5px] h-[24px] -right-0 top-4 bg-yellow-300;
  }

  .beforeAfterBorder_g::before {
    content: '';
    @apply absolute w-[.5px] h-[24px] -left-0 top-4 bg-emerald-300;
  }

  .beforeAfterBorder_g::after {
    content: '';
    @apply absolute w-[.5px] h-[24px] -right-0 top-4 bg-emerald-300;
  }
}
