@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.lists {
  scrollbar-width: none;
  scroll-behavior: smooth;
}


/* Keyframes */
@keyframes rotate-center-alternate {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

@keyframes rotate-center{
  0% { transform: rotate(0); }
  100% { transform: rotate(180deg); }
}

@keyframes text-focus-in {
  0% { filter: blur(12px); opacity: 0; }
  100% { filter: blur(0px); opacity: 1; }
}

/* Animations */
.rotate-center-alternate {
  animation: rotate-center-alternate 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1s infinite alternate;
}

.rotate-center {
  transition: rotate-center 2s linear;
}

.text-focus-in-normal {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}



@layer utilities {
  .beforeAfterBorder {
    @apply relative z-[1]; /* Ensure the parent element is positioned */
  }
  .beforeAfterBorder_y::before {
    content: '';
    @apply absolute w-[.5px] h-[24px] -left-0 top-4 bg-yellow-300;
  }

  .beforeAfterBorder_y::after {
    content: '';
    @apply absolute w-[.5px] h-[24px] -right-0 top-4 bg-yellow-300;
  }

  .beforeAfterBorder_g::before {
    content: '';
    @apply absolute w-[.5px] h-[24px] -left-0 top-4 bg-emerald-300;
  }

  .beforeAfterBorder_g::after {
    content: '';
    @apply absolute w-[.5px] h-[24px] -right-0 top-4 bg-emerald-300;
  }

  .beforeAfterBorder_r::before {
    content: '';
    @apply absolute w-[.5px] h-[24px] -left-0 top-4 bg-rose-300;
  }

  .beforeAfterBorder_r::after {
    content: '';
    @apply absolute w-[.5px] h-[24px] -right-0 top-4 bg-rose-300;
  }
}

/* Add these styles for the calendar */
.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #10b981;
  --rdp-background-color: #e5e7eb;
  margin: 0;
}

.rdp-day_selected:not([disabled]) { 
  background-color: var(--rdp-accent-color);
}

.rdp-day_selected:hover:not([disabled]) {
  background-color: var(--rdp-accent-color);
}

.rdp-selected .rdp-day_button{
  background: #10b981 !important;
  color: #fff !important;
  border: 2px solid #059669 !important;
  border-radius: 10px !important;
  -webkit-user-select: none;
  user-select: none;
}


.rdp-today:not(.rdp-outside) {
  background: #d1fae5be !important;
  color: #10b981 !important;
  border-radius: 10px !important;
  font-weight: 800 !important;
}

.rdp-chevron{
  fill: #10b981 !important;
}


#expiredTasks{
  scrollbar-width: none;
  scroll-behavior: smooth;
}